// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face
{
font-family: DeutscheZierschrift;
src: url('/fonts/DeutscheZierschrift.ttf')
}
@font-face
{
font-family: AnglicanText;
src: url('/fonts/AnglicanText.ttf')
}

$current-module: "main";

// http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css#20320475
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


##{$current-module}{
  	
  	$header-width: 600px;
  	$header-height: $header-width/2;
  	$header-radius: #{$header-width/2} / #{$header-height/2};
	#header{
		transition: background-color 0.25s ease-in-out 0s;
		position: relative;
	    width: $header-width; 
	    height: $header-height; 
	    background-color: #AAA; 
	    -moz-border-radius: $header-radius; 
	    -webkit-border-radius: $header-radius; 
	    border-radius: $header-radius; 
	    margin: -$header-height/1.6 auto 0;
	    &.inputing{
			transition: background-color 0.25s ease-in-out 0s;
		    background-color: #66CCFF;
	    }
	    &.correct{
			transition: background-color 0.25s ease-in-out 0s;
		    background-color: #66FFAA;
	    }
	}
	#user-info{
		width: 100%;
		position: absolute;
	    text-align: center;
		bottom: $header-height/10;
	}
	#nickname{
		font-size: 48px;
	}
	#account{
		margin-top: 16px;
		font-size: 16px;
	}

	#content{
		margin-top: 64px;
	}

	$borrow-bar-width: 520px;

	#borrow-bar{
	}
	#borrow_input{
		width: 100%;
		height: 48px;
		margin-bottom: 8px;
		text-align: center;
		input{
			@include placeholder {
				font-family: serif;
				color: #EEE;
				font-size: 32px;
				padding-top: 5px;
			}
			font-family: AnglicanText;
			width: $borrow-bar-width;
			height: 48px;
			font-size: 40px;
			text-align: center;
			border: 1px solid gray;
			border-radius: 4px;
			letter-spacing: 0.1em;
			&.error{
				color:red;
			}
			&.correct{
				color:green;
			}
			&:focus{
				transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
			    border-color: #66CCFF;
			    @include placeholder {
			    	color: lighten(#66CCFF, 20%);
			    	transition: color 0.25s ease-in-out 0s;
			    }
				box-shadow: 0 0 4px #9ecaed;
				outline: none;
			}
		}
	}

	#book-show{
		width: 450px;
		margin: 0 auto;
	}
	#book-cover{
		width: 200px;
		display: inline-block;
	}
	#book-info{
		position: relative;
		vertical-align: top;
		width: 200px;
		height: 200px;
		margin-left: 20px;
		display: inline-block;
		p{
			font-size: 16px;
		}
		button{
			position: absolute;
			bottom: 30px;
			right: 30px;
			height: 36px;
			width: 92px;
			border: none;
			border-radius: 6px;
			background-color: #6666CC;
			color: white;
			&:hover{
				cursor: pointer;
				background-color: darken(#6666CC, 5%);
			}
			&:active{
				background-color: lighten(#6666CC, 5%);
			}
		}
	}


	#borrowed-list{
		display: block;
		position: relative;
		width: 640px;
		text-align: center;
		margin: 64px auto 0;
		.list-cell{
			border-bottom: solid 1px #EEE;
			margin-top: 8px;
			font-size: 16px; 
			span{	
				text-align: left;
				margin-top: 32px;
				margin-left: 32px;
			}
		}
		img{
			margin-top: 0px;
			width: 72px;
			height: 72px;
		}
		.name{
			vertical-align: top;
			display: inline-block;
			width: 320px;
		}
		.isbn{
			vertical-align: top;
			display: inline-block;
			width: 120px;
		}
	}

}

